<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    <div ng-controller="CtrlSite">		 
  <section class="site_container">
	  <header>
			<h1>Mon site : Header fixe</h1>
			<ul class="menu">
				<li ng-repeat="item in menu"><a ng-click="{{currentIndex = $index}}" href="#/{{item.url}}">{{item.nom}}</a></li>
			</ul>
		</header>
		<div class="view" ng-view></div>
  </section>
	<nav> 
		<button ng-click="goPrevious()" class="prev" type="button">Avant</button>
		<button ng-click="goNext()" class="next" type="button">Après</button>
	</nav>
    </div>
  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
